@using Shop_Models.Dto;
@model ProductDetailDto
<div id="Detail">
    <div id="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">LAP TOP GAMING</a></li>
                <li class="breadcrumb-item active" aria-current="page">LAP TOP Lenovo</li>
            </ol>
        </nav>
    </div>
    <b id="Product-name">[New 100%] Lenovo Legion 5 Pro Y9000P (Core i9-12900H, 16GB, 512GB, RTX 3060 6GB, 16'' WQXGA 165Hz)</b>
    <div class="Product-detail">
        <div class="row">
            <div class="col-md-4">
                <img class="Product-main-img" src="./img/Product-detail-img/text_ng_n_21_ 1.png">
                <div class="Product-imgs">
                    <img src="./img/Product-detail-img/msi-gf63-thin-10sc-804vn-1_3 1.png">
                    <img src="./img/Product-detail-img/msi-gf63-thin-10sc-804vn-3_2 (1) 1.png">
                    <img src="./img/Product-detail-img/msi-gf63-thin-10sc-804vn-4_2 1.png">
                    <img src="./img/Product-detail-img/msi-gf63-thin-10sc-804vn-5_2 1.png">
                    <img src="./img/Product-detail-img/msi-gf63-thin-10sc-804vn-6_2 1.png" alt="">
                    <img src="./img/Product-detail-img/text_ng_n_21_ 2.png">
                </div>                
            </div>
            <div class="Product-price-detail col-md-4">
                <div class="Product-price">
                    <span class="giaKhuyenMai">Deal: 32.890.000đ</span>
                    <p class="giaGoc">37.890.000đ</p>
                    <br>
                    <span class="hot-price">
                        Bảo hành: 12 tháng Laptop AZ
                        <br>
                        Tình trạng: Còn hàng
                    </span>
                    <br>
                    <a href="" class="details">Xem chi tiết cấu hình</a>
                </div>
                <!-- cau hinh mat khac -->
                <div class="Product-detail-configuration">
                    <b>Cấu hình: </b>
                    <div class="other-product-configuration d-block">
                        <div class="product-configuration-block">
                            <div class="block-check">
                                <input class="block-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="block-check-label" for="flexRadioDefault2">
                                </label>
                            </div>
                            <div class="block-content">
                                <span>@Model.NameProduct</span>

                                <b class="giaTien"> 37.890.000đ </b>
                            </div>
                        </div>
                        <div class="product-configuration-block">
                            <div class="block-check">
                                <input class="block-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="block-check-label" for="flexRadioDefault2">
                                </label>
                            </div>
                            <div class="block-content">
                                <span>Ryzen 9 - 6900HX, 16GB, 1TB, RTX 3070Ti 8GB, 16 WQXGA 165Hz</span>
                                <b class="giaTien"> 37.890.000đ </b>
                            </div>
                        </div>
                        <div class="product-configuration-block">
                            <div class="block-check">
                                <input class="block-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="block-check-label" for="flexRadioDefault2">
                                </label>
                            </div>
                            <div class="block-content">
                                <span>Ryzen 7 - 5800H, 16GB, 512GB, RTX 3060, 16 WQXGA 165Hz </span>

                                <b class="giaTien"> 28.690.000đ</b>
                            </div>
                        </div>
                        <div class="product-configuration-block">
                            <div class="block-check">
                                <input class="block-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="block-check-label" for="flexRadioDefault2">
                                </label>
                            </div>

                            <div class="block-content">
                                <span>Core i7-12700H, 16GB, 1TB, RTX 3060, 16 WQXGA 165Hz</span>

                                <b class="giaTien">  Liên hệ </b>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- chinh sach khuyen mai -->
                <div class="promotion">
                    <p class="box_promotion">
                        <i class="fa fa-gift"></i> Quà tặng/khuyến mại
                    </p>
                    <ul class="giftBonus">
                        <p><span>✅ Tặng Windows bản quyền theo máy</span><br><span>✅ Miễn phí cân màu màn hình công nghệ cao</span><br><span>✅ Balo thời trang</span><br><span>✅ Chuột không dây + Bàn di cao cấp</span><br><span>✅ Tặng gói cài đặt, bảo dưỡng, vệ sinh máy trọn đời</span><br><span>✅ Tặng Voucher giảm giá cho lần mua tiếp theo</span></p>
                    </ul>
                </div>
                <!-- Them vao gio hang -->
                <a href="" style="text-decoration: none;">
                    <div class="Buy-add-product-to-cart">
                        <b>MUA NGAY</b>
                        <br>
                        <p>Giao tận nơi hoặc nhận tại cửa hàng</p>
                    </div>
                </a>
                <!-- hinh thuc tra -->
                <div class="Payemnt-methods">
                    <a href="">
                        <div class="method">
                            <b>Trả Góp 0%</b>

                            <p>Trả trước chỉ từ 2.500.000đ</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="method">
                            <b>Trả Góp Qua Thẻ</b>

                            <p>(Visa, Master Card,JCB)</p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-md-4">
                <div class="buying-polici-title">
                  <b class="title-buying-policy">YÊN TÂM MUA SẮM TẠI LAPTOP ABC XYZ</b>
                  <ul class="buy-policies">
                    <li>⭐ Chất lượng sản phẩm là hàng đầu</li>
                    <li>⭐ Dùng test máy 15 ngày đầu lỗi 1 đổi 1</li>
                    <li>⭐ Hỗ trợ và hậu mãi sau bán hàng tốt nhất</li>
                    <li>⭐ Trả góp lãi suất 0% qua thẻ visa</li>
                    <li>⭐ Giao hàng miễn phí toàn quốc nhanh nhất</li>
                  </ul>
                </div>
                <!-- bang thong so ki thuat -->
                <div class="configuration-block-table">
                    <b class="thongSoKyThuat">THÔNG SỐ KỸ THUẬT</b>
                </div>
            </div>
        </div>
    </div>
</div>