@{
    Layout = "_Layout";
}
<style>
    .container {
        padding: 20px; /* Khoảng cách giữa nội dung và mép của form */
        border-radius: 10px; /* Bo góc của form */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho form */
    }
</style>
<form class="container">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
    </div>
   
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Chưa có tài khoản? <a href="#!">Đăng ký</a></p>
        <p>Đăng nhập bằng:</p>
        <button type="button" class="btn btn-secondary btn-floating mx-1" onclick="location.href='@Url.Action("LoginWithFacebook", "Login")'">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-secondary btn-floating mx-1" onclick="location.href='@Url.Action("LoginWithGoogle", "Login")'">
            <i class="fab fa-google"></i>
        </button>



    </div>
</form>