@* @page "/Login"
@model Shop_Models.Dto.Account.LoginRequestDto;



<div style="border: #4c4949 1px solid; width: 1087px; height: 864px; margin: 65px auto;">
    @using (Html.BeginForm("LoginWithJWT", "Login"))
        {
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4" style="margin-top: 234px;">
            <input type="email" id="form2Example1" class="form-control" placeholder="Vui lòng nhập email hoặc SĐT"
                   style="border-radius: 50px; width: 718px; height: 94px; margin-left: 185px; font-size: 30px; padding-left: 24px;" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" placeholder="Vui lòng nhập mật khẩu"
                   style="border-radius: 50px; width: 718px; height: 94px; margin-left: 185px; font-size: 30px; padding-left: 24px;" />
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4"
                style="border-radius: 50px; width: 717px; height: 110px; background-color: #73BBFE; margin-left: 185px; font-size: 40px; font-weight: bold; border: none">
            ĐĂNG NHẬP
        </button>

        <div class="row">
            <div class="col-md-5">
                <hr style="width: 287px; margin-left: 202px;">
            </div>
            <div class="col-md-2">
                <p style="font-size: 30px; text-align: center; color: #968C8C;">hoặc</p>
            </div>
            <div class="col-md-5">
                <hr style="width: 287px; margin-left: -47px;">
            </div>
        </div>

        <!-- Register buttons -->
        <div id="signUp" style="margin-top: 40px;">
            <a><img src="./img/icon/logo_google.png" alt="" style="margin-left: 398px;"></a>
            <a><img src="./img/icon/logo-facebook.jpg" alt="" style="margin-left: 81px;"></a>
            <a><img src="./img/icon/logo_zalo.png" alt="" style="margin-left: 81px;"></a>
            <p style="margin-top: 29px; font-size: 30px; text-align: center;">Bạn chưa có tài khoản? <a style="color: #685858; font-weight: bold;">ĐĂNG KÝ NGAY</a></p>
        </div>
    </form>
    }
</div> *@


@page "/Login"
@model Shop_Models.Dto.Account.LoginRequestDto;

<h2>Login</h2>

<hr />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm("LoginWithJWT", "Login"))
        {
            <form>

                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <span class="text-danger">
                        @ViewBag.Message
                    </span>
                }
                @Html.HiddenFor(x => x.ReturnUrl)
                <div class="form-group">
                    <label name="UserName" class="control-label"></label>
                    <input name="UserName" class="form-control" />


                </div>
                <div class="form-group">
                    <label name="Password" class="control-label"></label>
                    <input name="Password" class="form-control" />

                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </form>
        }


    </div>
</div>