<div class="container backGroundImgFooter">
    <div class="row">
        <div class="col-md-3" style="color: white;margin-left: 25%;">
            <img src="./Image/logoFooter.svg" style="border: 1px;"><br>
            <span>GIỚI THIỆU</span>
            <br>
            <div style="width: 36px; height: 3px; background-color:#3BB54A ; border-radius: 7px;"></div>
            <br>
            e-Spa là hệ thống phần mềm quản lý spa, salon… hoàn toàn đáp ứng nhu cầu quản trị và chăm sóc khách hàng
            của các spa, salon tóc, thẩm mỹ viện...
            <br><br>
            <i class="fa-brands fa-facebook" style="width: 32px;height: 32px; border: 1px solid;

                border-image-source: linear-gradient(90deg, #3BB54A 0%, #7EC341 100%);
                color: #3BB54A;
                "></i>
            <i class="fa-brands fa-square-youtube"></i>
        </div>
        <div class="col-md-2" style="color: white;margin-top: 4%;">
            <span>LIÊN KẾT</span>
            <br>
            <div style="width: 36px; height: 3px; background-color:#3BB54A ; border-radius: 7px;"></div>
            <br>
            Điều khoản bảo mật <br><br>
            Chính sách bảo hành <br><br>
            Hình thức thanh toán
        </div>
        <div class="col-md-2" style="color: white;margin-top: 4%;">
            <span>LIÊN HỆ</span>
            <br>
            <div style="width: 36px; height: 3px; background-color:#3BB54A ; border-radius: 7px;"></div>
            <br>
            Công Ty TNHH Orenda<br><br>
            GPKD: 0108149044 – cấp ngày 29/01/2018<br><br>
            <i class="fa-solid fa-phone"></i>Tầng 4, Số 84 Tô Vĩnh Diện, Phường Khương Trung, Quận Thanh Xuân, TP Hà
            Nội<br><br>
            <i class="fa-solid fa-phone"></i>0865.500.968<br><br>
            <i class="fa-regular fa-envelope"></i> Support@vSalon.vn
        </div>
        <div class="col-md-1" style="color: white;margin-top: 4%;">
            <img src="./Image/facebook MSG.svg">

        </div>
    </div>
</div>
<footer class="container textFooter">
    <Center>Copyright © 2021 <span style="color: #3BB54A;">vSalon</span> . All rights reserved.</Center>
</footer>
<<style>
     .backGroundImgFooter {
         background: url('/wwwroot/img/backgroundfooter.png') no-repeat center center fixed;
         background-size: cover;
     }

     .textFooter {
         font-size: 14px;
         line-height: 24px;
         color: #677987;
     }
</style>