@{
    @using Microsoft.AspNetCore.Http;
    var httpContext = ViewContext.HttpContext;
    string accessToken = httpContext.Request.Cookies["access_token"];
    string username = ViewContext.HttpContext.Session.GetString("username");
}
<style>
    .navbar-nav a {
        align-items: center;
        }

    .navbar-nav i {
        font-size:25px;
    }

    .myform{
        margin-left:30px;
        margin-right:30px
    }
    .btn-login {
        margin-top:30px;
    }
</style>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand logoNav" href="#">
        <img alt="Logo" src="./Images/logo_laptopaz.jpg" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link textNavbar" href="/">
                    <i class="fa-solid fa-house" ></i>Trang chủ
                </a>
            </li>
            <li>
                <a class="nav-link textNavbar" href="/sản-phẩm">
                    <i class="fa-solid fa-laptop"></i>Laptop mới
                </a>
            </li>
            <li>
                <a class="nav-link textNavbar" href="/sản-phẩm">
                    <i class="fas fa-truck"></i>Tra cứu đơn hàng
                </a>
            </li>           
            <li>
                <a class="nav-link textNavbar" href="/giỏ-hàng">
                    <i class="fas fa-cart-plus"></i>Giỏ hàng
                </a>
            </li>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Bạn muốn tìm gì?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            @{

                if (username != null)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user" style="color:aqua;font-size:30px"></i>@username
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
                            <li><a class="dropdown-item" href="#">Xem đơn hàng</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Login" asp-action="LogOut">Đăng xuất</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <form class="d-flex">
                <a class="nav-link btnDangKy" id="resgisterLink">
                    <span class="textDangKy">Đăng ký</span>
                </a>
                        <a class="nav-link btnDangNhap" id="loginLink">
                    <span class="textDangNhap">Đăng nhập</span>
                </a>
               

            </form>
                }
            }
          
        </ul>
    </div>
</nav>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div >
        <div class="modal-content">     
            <div id="first">
                <div class="myform form ">
                        <form asp-controller="Login" asp-action="LoginWithJWT" method="post" name="login" class="container">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tài khoản</label>
                                <input type="text" name="username" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Tài khoản">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mật khẩu</label>
                            <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Mật khẩu">
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm btn-login">Đăng nhập</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">hoặc</span>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <p class="text-center">
                                <a href="javascript:void();" class="google btn mybtn">
                                    <i class="fa fa-google-plus">
                                    </i> Đăng nhập với google
                                </a>
                            </p>
                        </div>
                       
                    </form>

                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div>
        <div class="modal-content">
                	  <div id="second">
			      <div class="myform form ">
                      
                        <form action="#" name="registration">
                           <div class="form-group">
                              <label for="exampleInputEmail1">Họ và tên</label>
                              <input type="text"  name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">Địa chỉ</label>
                              <input type="text"  name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">Số điện thoạt</label>
                              <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="">
                           </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tài khoản</label>
                                <input type="text" name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="">
                            </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">Mật khẩu</label>
                              <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="">
                           </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nhập lại mật khẩu</label>
                                <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="">
                            </div>
                           <div class="col-md-12 text-center mb-3">
                              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Đăng ký</button>
                           </div>
                           <div class="col-md-12 ">
                              <div class="form-group">
                                 <p class="text-center"><a href="#" id="signin">Bạn đã có tài khoản? Đăng nhập ngay</a></p>
                              </div>
                           </div>
                          
                    </form>
                     </div>
			</div>
            </div>
        </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        $("#loginLink").click(function (e) {
            e.preventDefault();
            $("#loginModal").modal("show");
        });
        $("#resgisterLink").click(function (e) {
            e.preventDefault();
            $("#registerModal").modal("show");
        });
    });
    $("#signup").click(function () {
        $("#first").fadeOut("fast", function () {
            $("#second").fadeIn("fast");
        });
    });

    $("#signin").click(function () {
        $("#second").fadeOut("fast", function () {
            $("#first").fadeIn("fast");
        });
    });



    // $(function () {
    //     $("form[name='login']").validate({
    //         rules: {

    //             username: {
    //                 required: true,
    //             },
    //             password: {
    //                 required: true,

    //             }
    //         },
    //         messages: {
    //             email: "Please enter a valid email address",

    //             password: {
    //                 required: "Please enter password",

    //             }

    //         },
    //         submitHandler: function (form) {
    //             form.submit();
    //         }
    //     });
    // });



    // $(function () {

    //     $("form[name='registration']").validate({
    //         rules: {
    //             firstname: "required",
    //             lastname: "required",
    //             email: {
    //                 required: true,
    //                 email: true
    //             },
    //             password: {
    //                 required: true,
    //                 minlength: 5
    //             }
    //         },

    //         messages: {
    //             firstname: "Please enter your firstname",
    //             lastname: "Please enter your lastname",
    //             password: {
    //                 required: "Please provide a password",
    //                 minlength: "Your password must be at least 5 characters long"
    //             },
    //             email: "Please enter a valid email address"
    //         },

    //         submitHandler: function (form) {
    //             form.submit();
    //         }
    //     });
    // });

</script>