@{
    var httpContext = ViewContext.HttpContext;
    string accessToken = httpContext.Request.Cookies["access_token"];
}
<header>
    <div class="Nav-header justify-content-center d-flex" style="background-color: #73BBFE;">
        <div class="navbar navbar-expand-md d-flex flex-column container" style="background-color:transparent;">
            <div class="d-flex w-100">
                <div class="row d-flex align-items-center flex-grow-1">  
                    <div class="col-md-1"></div>
                    <div class="head-session col-md-5 justify-content-start d-flex ">
                        <form class="d-flex w-100" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse col-md-6 navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-around">
                            <li class="nav-item  d-flex justify-content-center align-items-xxl-center">
                                <div id="CartButton" class="Hot-Line col-2">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                    <span>Giỏ Hàng</span>
                                </div>
                            </li>
                            <li class="nav-item  d-flex justify-content-center align-items-xxl-center">
                                <div id="HotLineButton" class="Hot-Line col-2">
                                    <i class="fa-solid fa-phone"></i>
                                    <span>SĐT: 1800.1516</span>
                                </div>
                            </li>
                            @{

                                if (accessToken != null)
                                {
                                    <li class="nav-item  d-flex justify-content-center align-items-xxl-center">
                                        <div id="LoginIcon" class="Hot-Line col-2">
                                            <a class="d-flex" style="text-decoration: none;">
                                                <i class="fa-solid fa-user"></i>
                                                <span>Tài Khoản</span>
                                            </a>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item  d-flex justify-content-center align-items-xxl-center">
                                        <div id="LoginIcon" class="Hot-Line col-2">
                                            <a class="d-flex " style="text-decoration: none;">
                                                <i class="fa-solid fa-user"></i>
                                                <span>Đăng Nhập</span>
                                            </a>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                </div>
            </div>
            <div class="Menu container w-100" id="menu">
                <div class="Menu-list row flex-grow-1">
                    <nav class="navbar navbar-expand-sm">
                        <!-- Nút "Expand" chỉ hiển thị trên màn hình nhỏ -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Thẻ item đầu tiên -->
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav d-flex w-100 justify-content-around  align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link line-clamp" href="#">LAPTOP</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link line-clamp" href="#">HỌC TẬP, VĂN PHÒNG</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link line-clamp" href="#">GAMING</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link line-clamp" href="#">MỎNG NHẸ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link line-clamp" href="#">ĐỒ HỌA, KỸ THUẬT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link line-clamp" href="#">PHỤ KIỆN</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
       
    </div>
    
</header>