@using Microsoft.AspNetCore.Identity
@using Shop_Models.Entities;
@inject SignInManager<User> _signInManager
@{
    ViewData["Title"] = "Home Page";
}

<p>
    <strong>Email:</strong> @Model.Email
</p>
<p>
    <strong>Name:</strong> @Model.Name
</p>
<p>
    <strong>Picture:</strong> <img alt="img" src="@Model.Picture" style="
    width: 100px;
    height: 100px;
">
</p>
<p>
    <strong>Provider:</strong> @Model.Provider
</p>