    <div class="profile">
        <img src="~/Image/avt1.webp" alt="profile_picture">
        <h3>Quản trị</h3>
    </div>
    <ul>
        <li>
            <a href="#" class="active">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="item">Home</span>
            </a>
        </li>
        <li>
            <div id="Bill">
                <a>
                    <span class="icon"><i class="fas fa-desktop"></i></span>
                    <span class="item">Hóa đơn</span>
                </a>
            </div>
        </li>
        <li>
            <a id="ProductDetail" href="#">
                <span class="icon"><i class="fas fa-user-friends"></i></span>
                <span class="item">Sản phẩm</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                <span class="item">Perfomance</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-database"></i></span>
                <span class="item">Development</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-chart-line"></i></span>
                <span class="item">Reports</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-user-shield"></i></span>
                <span class="item">Admin</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="item">Settings</span>
            </a>
        </li>
    </ul>

    <script>
    var loginButton = document.getElementById('Bill');
    loginButton.addEventListener('click', function (event) {
        event.preventDefault();
        $.ajax({
            url: "/Bill/Index",
            type: "GET",
            success: function (result) {
                $("#rootAdmin").html(result); // Cập nhật nội dung của phần tử trên trang web
            },
            error: function () {
                alert("Có lỗi xảy ra.");
            }
        });

    })
    </script>


