.transport-Info {
    color: red;
    font-size: x-large;
    padding: 5px;
}
.User-info {
    border-radius: 50px;
    max-width: 550px;
    font-size: large;
    padding-left: 24px;
    margin: 15px;
}
.Delivery-Info {
    padding: 15px;
}

.Delivery-address {
    width: 550px;
    height: 280px;
    background-color: #f9f9f9;
    border-radius: 15px;
}

.address {
    width: 255px;
    height: 100px;
    border: 1px solid rgb(232, 232, 232);
    background-color: white;
    border-radius: 15px;
    display: flex;
    margin: auto;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    font-size: large;
    color: #686565;
}

.user-check {
    margin-right: 10px;
    margin-bottom: 10px;
    color: grey;
    font-size: 22px !important;
    font-weight: 500;
}
