
/*carousel*/
.carousel {
    margin-bottom: 15px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
    font-size: 1.5rem;
}
/*Company categories*/

/*.Company-list {
    display: grid;
    grid-template-columns: repeat(10,0.9fr);
    grid-gap: 10px;
    max-width: 1440px;
    margin: auto;
    margin-top: 5px;
}*/

.Company-icons {
    height: 35px;
    border: 1px solid rgb(235, 228, 228,0.8);
}

.company-img {
    /* Định dạng cho phần tử <img> */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
/*Menu danh mục sản phảm item box*/
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng muốn hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: white;
    font-weight:600;
}

.item-categories-outer {
    display: flex;
    margin-bottom: 25px;
}
.price-filter {
    margin-right: 10px;
    border: 1px solid rgb(162, 156, 156,0.4);
    padding: 5px;
    border-radius: 7px;
}

.item-box {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background: linear-gradient(225deg,rgb(52, 179, 218) 20%, rgba(202, 83, 244, 0.25) 90%);
}
.product-box {
    width: 335px;
    border: 1px solid #cecece;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}
.block-tittle b {
    color: #ffffff;
    font-size: 70px;
    font-style: italic;
}

.block-hot-sale {
    background-color: #73BBFE;
    border-radius: 20px;
}

.block-tittle {
    display: flex;
    justify-content: center;
    align-items: center; /* Thêm align-items để căn giữa dọc */
    text-align: center;
}

.product-box {
    margin-bottom: 20px;
}

.List-products .hot-product {
    margin-bottom: 20px;
}

.hot-product img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.custom-toggler {
    background-color: #fff; /* Màu nền của nút (trắng) */
    border: none; /* Xóa viền */
}
@media (max-width: 576px) { /* Điều kiện này có thể thay đổi tùy theo thiết lập của bạn */
    .item {
        display: none; /* Ẩn tất cả các thẻ item ban đầu */
    }

        .item:first-child {
            display: block; /* Hiển thị thẻ item đầu tiên */
        }
}

@media screen and (max-width: 768px) {
    .List-products .hot-product {
        flex-basis: calc(50% - 40px);
    }
}

@media screen and (max-width: 768px) {
    .List-products .hot-product {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.List-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hot-product {
    max-width: 215px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; /* Sẽ tự mở rộ để lấp đầy khung cha */
    max-width: calc(25% - 40px);
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước ngoài cùng */
}

.Product-price {
    padding-top: 10px;
}


.hot-product a {
    text-decoration: none;
}

.hot-product b {
    color: black;
    font-size: medium;
}

.Product-price span,
.Product-price p {
    display: inline-block;
}

.Product-price {
    padding-top: 10px;
}

.Product-price span {
    font-weight: bold;
    color: red;
    font-size: 20px;
}

.Product-price p {
    padding-left: 15px;
    font-weight: 400;
    text-decoration: line-through;
    color: #999;
}

.Like-product {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.Like-product i {
    color: rgb(226, 50, 50);
    padding-right: 10px;
    font-size: larger;
}

.hot-price {
    color: #5a5656 !important;
}

.Products b {
    font-size: xx-large;
    color: #5a5656;
}

.product-box a {
    text-decoration: none;
    color: #5a5656;
}

.product-box b {
    font-size: x-large;
}

.Product-filter {
    display: flex;
}

.Product-filter a {
    text-decoration: none;
    color: #5a5656;
}

/*danh mục sản phẩm*/
.categories-boxs-name {
    margin-top: 15px;
    width: 300px;
    height: 70px;
    margin-bottom: 10px;
    position: relative;
}

.categories-boxs-name::before {
    content: "";
    position: absolute;
    width: 550px;
    height: 20px;
    border-top: 70px solid #73BBFE;
    border-right: 120px solid transparent;
    transform: rotate(180);
    border-radius: 5px;
    z-index: -1; /* Đặt z-index để pseudo-element ở phía sau phần tử cha */
}
.box-names-title {
    padding-top: 5px;
    padding-left: 5px;
    width: 500px;
    position: relative; /* Đặt position là relative để giữ phần tử con trong phần tử cha */
    z-index: 1; /* Đặt z-index để đưa phần tử con lên phía trên pseudo-element */
}

.box-names-title b {
    font-size: 38px;
    color: white;
}



.computer-configuration {
    display: flex;
    justify-content: flex-start;
}

.configuration-item {
    margin-right: 15px;
    padding: 5px;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 5px;
}
.List-products-2 {
    display: flex;
    justify-content: center;
    width: 1440px;
}


/*main end*/
.More-product {
    justify-content: center;
    text-align: center;
}

.More-product a {
    font-size: xx-large;
    text-decoration-line: underline;
    text-decoration-color: rgb(214, 214, 214);
    text-decoration-skip-ink: none;
    text-underline-offset: 4px; /* Điều chỉnh khoảng cách */
}


/*Policy*/

.Policy-item {
    height: 80px;
    width: 335px;
    background-color: #73BBFE;
    margin: 15px;
    border-radius: 5px;
    position: relative;
}

    .Policy-item i {
        position: absolute;
        top: 5%;
        font-size: 70px;
        color: white;
    }

.Policy-title {
    left: 34%;
    top: 6%;
    height: 70px;
    width: 215px;
    display: flex;
    background-color: white;
    border-radius: 45px 0px 0px 0px;
    align-items: center;
    position: absolute;
    padding: 10pxs;
    word-wrap: break-word;
    text-align: center;
}

    .Policy-title span {
        padding-left: 30px;
        font-size: large;
        font-weight: bold;
        color: #F94747;
    }

